@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: black;
}

:root {
  --handle-size: 5rem;
  --img-gap: 0.25rem;
}

.movie-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.slider {
  --slider-index: 0;
  --items-per-screen: 5;
  display: flex;
  flex-grow: 1;
  margin: 0 var(--img-gap);
  transform: translateX(calc(var(--slider-index) * -100%));
  transition: transform 250ms ease-in-out;
}

.slider > img {
  flex: 0 0 calc(100% / var(--items-per-screen));
  max-width: calc(100% / var(--items-per-screen));
  aspect-ratio: 16 / 9;
  padding: var(--img-gap);
}

.handle {
  border: none;
  border-radius: 1rem;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 0 0.5rem;
  z-index: 10;
  margin: var(--img-gap) 0;
  width: var(--handle-size);
  cursor: pointer;
  font-size: 5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  transition: background-color 150ms ease-in-out;
}

.text {
  transition: transform 250ms ease-in-out;
}
.handle:hover .text,
.handle:focus .text {
  transform: scale(1.3);
}

.row {
}

.left-handle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.right-handle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.handle:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem calc(var(--img-gap) * 2 + var(--handle-size));
}

.title {
  font-size: 2rem;
  margin: 0;
}

.progress-bar {
  display: flex;
  gap: 0.25rem;
}

.progress-item {
  flex: 0 0 1rem;
  min-width: 1rem;
  height: 0.2rem;
  background-color: rgba(255, 255, 255, 0.5);
}
.progress-item.active {
  background-color: rgba(255, 255, 255, 0.9);
}

.gptMovies > img {
  width: 18rem;
  min-width: 14rem;
  border: 2px solid white;
  aspect-ratio: 16 /9;
  transition: transform 0.4s ease-in-out;
}

.gptMovies > img:hover {
  transform: scale(1.3);
}

@media (max-width: 1300px) {
  .slider {
    --items-per-screen: 4;
  }
}

@media (max-width: 1000px) {
  .slider {
    --items-per-screen: 3;
  }
}

@media (max-width: 600px) {
  .slider {
    --items-per-screen: 2;
  }
}
